<!DOCTYPE html>
<html>

<head>
     <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <title>INSTITUTO TECNOLOGICO</title>
    
</head>

<body>
    <div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>INSTITUTO TECNOLOGICO</h1>
                {{!-- <h1>{{titulo}}</h1> --}}
            </div>
            <div class="col-sm-12 text-center">
                <img src="img/banner.jpg" class="img-fluid">
            </div>
    </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Menu</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/registroCurso">Registrar Cursos</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/verCurso">Cursos disponibles</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/inscribir">Inscripcion</a>
      </li>      
      <li class="nav-item">
        <a class="nav-link" href="/verInscritos">Inscritos</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/eliminaInscrito">Eliminar inscritos</a>
      </li>
    </ul>
  </div>
</nav>